.first-section {
  margin: 25px;
  display: flex;
  margin-top: 50px;
}

.slide {
  background-color: white;
  margin-right: 20px;
  width: 50%;
  padding: 30px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide>div {
  margin-bottom: 20px;
}

.mat-slide-toggle {
  margin-right: 20px;

}

.select-menu {
  background-color: white;
  width: 50%;
  padding: 30px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
}

.select-food {
  width: 50%;
}

mat-select {
  height: 100%;
}

.second-section{
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
}
.input-field{
    display: flex;
}
.your-name{
    width: 25%;
}
.with-icon{
    margin-left: 20px;
    justify-content: flex-start;
    padding-bottom: 20px;
    display: flex;
}

.third-section{
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
}
.checkbox{
    margin: 20px;
}

.custom{
    background-color: red;
}