<header>
  <input type="text" placeholder="Search anything...">
  <div>
    <mat-icon>notifications</mat-icon>
    <mat-icon>widgets</mat-icon>
    <button class="menu-button" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="menu-button">
        <mat-icon class="menu-icon">settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item class="menu-button">
        <mat-icon class="menu-icon">power_settings_new</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
</header>
