<div class="main-container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-my-menu></app-my-menu>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  </mat-drawer-container>
  <!-- </mat-drawer-container>
  <mat-sidenav-container class="side-menu" autosize>
    <mat-sidenav #drawer class="sidenav" mode="side">
      <app-my-menu></app-my-menu>
    </mat-sidenav>
  </mat-sidenav-container> -->
  <div class="side-container">
    <header>

      <input type="text" placeholder="Search anything...">
      <div>
        <mat-icon>notifications</mat-icon>
        <mat-icon>widgets</mat-icon>
        <button class="menu-button" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button class="menu-button">
            <mat-icon class="menu-icon">settings</mat-icon>
            <span>Settings</span>
          </button>
          <button class="menu-button">
            <mat-icon class="menu-icon">power_settings_new</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>
    </header>
    <div class="wrapper">
      <div class="download">
        <p>Like what you see? Check out our premium version for more.</p>
        <div class="buttons">
          <button class="white">DONWLOAD FREE VERSION</button>
          <button class="blue">PURCHASE</button>
        </div>
      </div>
      <div class="report">
        <div class="my-cards">
          <app-my-card *ngFor="let item of cards" [card]="item"></app-my-card>
        </div>
        <div class="card-img">
          <img class="time" src="https://www.wncc.edu/_resources/assets/images/circle-yellow-large.svg" alt="Img">
        </div>
      </div>
    </div>
  </div>
</div>
