<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-my-menu></app-my-menu>
    </mat-drawer>
    <div class="example-sidenav-content">
        <mat-icon class="my-menu-icon" (click)="drawer.toggle()">menu</mat-icon>
        <div class="side-container">
            <header>
                <input type="text" placeholder="Search anything...">
                <div>
                    <mat-icon>notifications</mat-icon>
                    <mat-icon>widgets</mat-icon>
                    <button class="menu-button" [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item class="menu-button">
                              <mat-icon class="menu-icon">settings</mat-icon>
                              <span>Settings</span>
                        </button>
                        <button mat-menu-item class="menu-button">
                              <mat-icon class="menu-icon">power_settings_new</mat-icon>
                              <span>Log out</span>
                        </button>
                    </mat-menu>
                </div>
            </header>
            <div class="wrapper">
                <div class="download">
                    <p>Like what you see? Check out our premium version for more.</p>
                    <div class="buttons">
                        <button class="white">DONWLOAD FREE VERSION</button>
                        <button class="blue">PURCHASE</button>
                    </div>
                </div>
                <div class="report">
                    <div class="my-cards">
                        <app-my-card *ngFor="let item of cards" [card]="item"></app-my-card>
                    </div>
                    <div class="card-img">
                        <p>Time, Practice</p>
                        <img class="time" src="https://www.wncc.edu/_resources/assets/images/circle-yellow-large.svg" alt="Img">
                        <div class="red-buttons">
                            <button class="red-but">
                                <mat-icon>store</mat-icon>
                            </button>
                            <button class="red-but">
                                <mat-icon>phone_in_talk</mat-icon>
                            </button>
                            <button class="red-but">
                                <mat-icon>share</mat-icon>
                            </button>
                            <button class="red-but">
                                <mat-icon>autorenew</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="profiles">
                    <div class="avatar">
                        <section class="profile-picture">
                            <img src="http://www.bootstrapdash.com/demo/material-admin-free/jquery/images/faces/face1.jpg" alt="">
                            <div class="name">
                                <h4>Daniel Russel</h4>
                                <p>@danielrussel</p>
                            </div>
                        </section>
                        <section class="avatar-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sem non mauris euismod hendrerit. Aliquam condimentum sem non mauris euismod hendrerit.</p>
                            <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum</p>
                        </section>
                        <section class="section-blue">
                            <div class="social">
                                <small>Tweets</small>
                                <p>768.8k</p>
                            </div>
                            <div class="social">
                                <small>FOLLOWING</small>
                                <p>186.8k</p>
                            </div>
                            <div class="social">
                                <small>FOLLOWING</small>
                                <p>25.8k</p>
                            </div>
                        </section>
                    </div>
                    <div class="graph">
                        <img src="assets\graf.PNG" alt="Img">
                    </div>
                </div>
                <div class="table-img">
                    <img src="assets\table.PNG" alt="Img">
                </div>
            </div>
            <footer>
                <p>Copyright © 2018 Bootstrap Dash. All rights reserved.</p>
                <p>Hand-crafted & made with
                    <mat-icon>favorite</mat-icon>
                </p>
            </footer>
        </div>
    </div>
</mat-drawer-container>